<key>NSCameraUsageDescription</key>
<string>$(PRODUCT_NAME) needs access to your camera to take profile photos</string>
<key>NSPhotoLibraryUsageDescription</key>
<string>$(PRODUCT_NAME) needs access to your photo library to select profile photos</string>
<key>NSPhotoLibraryAddUsageDescription</key>
<string>$(PRODUCT_NAME) needs access to save photos to your photo library</string> 